<template name="createOrganization">
  {{#if currentUser}}
    {{#if hasNoOrganization}}
      <h2>This account has not yet created an organizaion</h2>
      <p>Please fill out the below form to create your organization. Once your organization is created you will be provided with a page for your organization</p>

      <form class="newOrg">	 
			 <label for="organizationName">Organization name:</label>
  		  <input type="text" class="form-control" name="organizationName">
  		  <label for="contactPerson">Contact Person:</label>
			  <input type="text" class="form-control" name="contactPerson">
			  <label for="contactPersonEmail">Contact person email address:</label>
  		  <input type="email" class="form-control" name="contactPersonEmail">
        <label for="mesage">A message for your page (this can be edited at any time):</label>
        <textarea name="message" class="form-control" cols="80" rows="8">This is the default message. This is a good place to put your address or other contact information. It can also be used hilight certain needs that are more urgent than others.</textarea>
		    <input type="submit" value="Create!">
      </form>
    {{else}}
      <h3>This is not the page you are looking for</h3>
      <p>This account is already connected to an oganization. Please stand by while we redirect your browser</p>
    {{/if}}
  {{else}}
    {{signin}}
  {{/if}}  
</template>