	<template name="organizations">	
		<div id="section">
			{{> organizationList}}
		</div>
	</template>

<template name="organizationList">	
	<center><h3>Click on an organization to see what they need</h3></center>
    <div class="container">
        <div class="jumbotron container-fluid">
            <div class ="lobby-cards col-md-12 col-md-offset-1" >
        		{{#each organizations}}
        			<a href="{{pathFor route='organizations'}}/{{name}}">{{>organizationCard }}</a>
                {{/each}}
            </div>
        </div>
    </div>
</template>

<template name = 'organizationCard	'> 
 <div class="jumbotron organization-card col-md-2">
    <div class='card-stuff-text'>
        <h3>{{name}}</h3>
    </div>
 </div>
</template>
