<template name="startpage">
	<h1> Welcome to bulk giving!</h1>
	<p>Please indicate wether you are an organization looking for help, or if you are an individual looking to help out!</p>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<a id="organizationRedirect" class="btn btn-info btn-block">I am an organization in need of help!</a>
			</div>			
		</div>		
		<div style="height:10px;"></div>		
		<div class="row">
			<div class="col-md-12">
				<a id="contributionRedirect" class="btn btn-info btn-block">I am individual looking to help!</a>
			</div>
		</div>
		
    </div>
</template>